---
import MonacoEditor from "../../../components/MonacoEditor.astro";
import EditorExercicesLayout from "../../../layout/EditorExercicesLayout.astro";
import CodeEditorForEditorExercices from "../../../sections/CodeEditorForEditorExercices.astro";
---

<EditorExercicesLayout title="Ejercicio con Editor de codigo - 1 | Squeaky JS">
  <div class="w-full">
    <CodeEditorForEditorExercices

      context=`Una empresa muy desagradable que tiene porundo odio
       por los arboles usa una tecnica muy rara para saber si tienen que cortar un arbol. 
       Elijen un numero aletorio y si este mismo es mayor a 5, entonces cortan el arbol. 
       Si es menor a 5, lo dejan como esta. Tu vas a tener una varaible llamada 'number' y si este numero es mayor a '5'
        deberas llamar a la funcion 'cortarArbol()' si es menor, 'cortarArbol()'`
      pageUrl="/emulatedPages/1.html"
    />

    <iframe class="w-screen h-[90.5vh] bg-white" id="editorPage"></iframe>
  </div>
</EditorExercicesLayout>
