---
import EditorExercicesLayout from "../../../layout/EditorExercicesLayout.astro";
import CodeEditorForEditorExercices from "../../../sections/CodeEditorForEditorExercices.astro";
---

<EditorExercicesLayout title="Ejercicio con Editor de codigo - 1 | Squeaky JS">
    <div class="w-full flex">
        <CodeEditorForEditorExercices />
        <iframe class="w-1/2 bg-white" id="editorPage-1"></iframe>
    </div>
</EditorExercicesLayout>
