---
import EditorExercicesLayout from "../../../layout/EditorExercicesLayout.astro";
import CodeEditorForEditorExercices from "../../../sections/CodeEditorForEditorExercices.astro";
---

<EditorExercicesLayout title="Ejercicio con Editor de codigo - 1 | Squeaky JS">
  <div class="w-full flex">
    <CodeEditorForEditorExercices
      context=`En la pagina de tu derecha veras una puerta cerrada (representada por el
    color 'rojo'), debes crear un codigo en el editor de la izquierda que lea
    una variable llamada 'number' y verifique que el valor sea mayor o igual a
    18, en caso de serlo, llama a la funcion 'abrirPuerta()', de no serlo, llama
    a 'cerrarPuerta()'`
    pageUrl="/emulatedPages/1.html"
    />
    <iframe class="w-1/2 bg-white" id="editorPage"></iframe>
  </div>
</EditorExercicesLayout>
