---
import EditorExercicesLayout from "../../../layout/EditorExercicesLayout.astro";
import CodeEditorForEditorExercices from "../../../sections/CodeEditorForEditorExercices.astro";
---

<EditorExercicesLayout title="Ejercicio con Editor de codigo - 1 | Squeaky JS">
  <div class="w-full flex">
    <CodeEditorForEditorExercices
      context=`En la parte de la derecha podras ver un saludo de bienvenida de un sitio web. 
      Tu tarea sera cambiar el titulo de la pagina (el que ahora dice 'Hola usuario, buen dia!') 
      por: 'Hola estudiante, esto es SqueakyJS.' (recuerda, es importante que sea exactamente igual)`
      pageUrl="/emulatedPages/2.html"
    />
    <iframe class="w-1/2 bg-white" id="editorPage"></iframe>
  </div>
</EditorExercicesLayout>
