---
import Layout from "../layout/layout.astro";
import EmulatedExercises from "../sections/EmulatedExercises.astro";
import Exercices from "../sections/Exercices.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Squeaky JS | Ejercicios">
  <section class="bg-[#23262f] py-12">
    <div class="max-w-6xl mx-auto">
      <div class="flex justify-between mb-12">
        <header>
          <div class="flex gap-1 items-center">
            <Icon
              name="pencil-check"
              height={40}
              width={40}
              class={"text-slate-300"}
            />
            <h1 class="text-6xl font-semibold mb-4">Tus Ejercicios</h1>
          </div>

          <p class="max-w-md text-gray-300 ml-2">
            Aqui podras acceder a los ejercicios de Squeaky JS. Considera este
            espacio como tu libro de actiividades, donde podras revisar,
            ejercitar y comprender lo que aprendiste durante tu transcurso por
            Squeaky JS.
          </p>
        </header>
        <div>Progress Circle</div>
      </div>
      <span class="bg-yellow-700 px-4 py-0.5 text-white rounded-full text-sm"
        >JavaScript</span
      >
    </div>
  </section>
  <Exercices />
  <EmulatedExercises />
</Layout>
