---
import Layout from "../layout/layout.astro";
import LoginForm from "../sections/LoginForm.astro";
---

{
  //TODO: Redigirir automaticamente a '/' si ya esta logueado.
}

<Layout title="Squeaky JS | Inicio">
  <div id="container">
    <h1>Iniciar Sesion</h1>
    <form class="input">
      <div class="register">
        <input type="text" class="text" placeholder="Mail/Numero de Telefono" />
        <input
          type="password"
          class="contra"
          placeholder="Ingresa tu Contraseña"
        />
      </div>
      <a href="http://localhost:4321">
        <input type="submit" class="enviar" />
      </a>
    </form>
    <div class="contru">
      <button class="boton" onclick="openDiv()">
        <h2>¿Olvidaste tu Contraseña?</h2>
      </button>
      <h2>
        ¿Eres Nuevo en Squeaky?
        <a href="/register">
          <h4 class="cr">Crear cuenta</h4>
        </a>
      </h2>
    </div>
  </div>
  <div id="myDiv">
    <button> Olvidaste tu Contraseña </button>
  </div>

  <style>
    #myDiv {
      display: none;
      width: 30em;
      height: 20em;
      background-color: lightblue;
      border: 2px solid #007bff;
      margin-top: 20px;
      padding: 10px;
      transition: opacity 0.5s ease;
      opacity: 0;
    }
    #myDiv.show {
      display: block;
      opacity: 1;
    }

    #container {
      width: 30em;
      height: 30em;
      background-color: #23262f;
      border-radius: 3em;
      text-align: center;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    h1 {
      font-size: 36px;
      margin-top: 1em;
      margin-bottom: 2em;
      font-weight: bold;
    }
    .register {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      margin-bottom: 2em;
    }
    .contra {
      padding: 0.5em 1em;
      width: 16em;
      height: 2em;
      border-radius: 3em;
      background-color: rgb(75 85 99);
      color: rgb(250, 247, 247);
    }
    .text {
      padding: 0.5em 1em;
      width: 16em;
      height: 2em;
      border-radius: 3em;
      background-color: rgb(75 85 99);
      color: rgb(250, 247, 247);
    }
    .enviar {
      background-color: rgb(30 58 138);
      width: 6em;
      height: 3em;
      border-radius: 1em;
      gap: 3em;
    }
    .contru {
    }
    .cr:hover {
      color: blue;
    }
    .boton:hover {
      color: blue;
    }
  </style>
  <script>
    function openDiv() {
      const div = document.getElementById("myDiv");
      div.classList.add("show"); // Añadir la clase 'show' para mostrar el div
    }
  </script>
</Layout>
