---
import Layout from "../layout/layout.astro"
---

<Layout title="Squeaky JS | Perfil">
    <div class="bloque">
        <div class="circulo">

        </div>
     <div id="todo">
        <h1 class="h1">
            personalizar Perfil
        </h1>
       <div class="input">
        <div>
            <input type="text" class="Nombre" placeholder="Nombre completo ">
            <input type="text" class="Apellido" placeholder="Apellido">
            <input type="text" class="Descripcion" placeholder="Descripcion">
            <input type="number" class="edad" placeholder="Intoduce tu Edad" min="0" max="120">
        </div>
        <div>
            <h1>
                Pantalla que muestra mejor puntaje
            </h1>
        </div>
       </div>
     </div>
    </div>
     <style>
        .circulo {
            background-color: rgb(209 213 219);
            border-radius: 50em;
            width: 4em;
            height: 4em;
            margin-top: -35em;
            margin-left: 43em;
        }
        .bloque {
            display: flex;
            flex-direction: column-reverse;
        }

        h1 {
            background-color:  rgb(209 213 219);
            width: 30em;
            height: 20em;
            color: black;
            text-align: center;
            padding: 7em;
            margin-left: 27em;
            
            
        }
        
        .h1 {
            background-color: rgb(209 213 219);
            width: 40em;
            height: 4em;    
            color: black;
            padding-left: 1em;
            margin-top: 2em;
            margin: 1em;
            font-size: bold;
            padding: 1em;
            margin-bottom: 2em;
                        
        }
        .Nombre {
            background-color: rgb(209 213 219);
            width: 20em;
            height: 4em;
            color: black;
            padding-left: 1em;
        }
        .Apellido {
            background-color: rgb(209 213 219);
            width: 20em;
            height: 4em;
            color: black;
            padding-left: 1em;
        }
        .Descripcion {
            background-color: rgb(209 213 219);
            width: 20em;
            height: 10em;
            color: black;
            padding-left: 7em;
        }
        .edad {
            background-color: rgb(209 213 219);
            width: 20em;
            height: 4em;
            color: black;
            padding-left: 1em;
        }
        .input {
            display:flex;
            margin: 1em;
            gap: 2em;
        }
        
        .input > div:nth-child(1){
            display: flex;
            flex-direction: column;
            gap:2em;
        }

     </style>
</Layout>