---
import Layout from "../layout/layout.astro";
---

{
  //TODO: Remaquetar el HTML para que tenga una estructura mas semantica.
  //OPTIONAL
}

<Layout title="Squeaky JS | Perfil">
  <div id="perfil">
    <div class="profile">
      <h1 class="foto">foto de Perfil</h1>
      <input type="text" placeholder="Nombre de usuario">
      <input type="text" placeholder="Descripcion" class="desc">
    </div>
    <div class="profile2">
      <input type="text" placeholder="Nombre">
      <input type="text" placeholder="Apellidos">
      <input type="text" placeholder="Gmail">
      <input type="text" placeholder="Cumpleaños">
    </div>
    <div class="racha">
      <h1>pantalla que muestra la mejor racha del usuario y
         su progreso hasta el momento</h1>
    </div>
  </div>
  <style>
    #perfil {
      margin-left: 17 em;
    }
    .profile {
      background-color: rgb(34, 44, 58);
      width: 25em;
      height: 50em;
      text-align: center;
      
    }
    .desc {
      background-color: rgb(28, 33, 41);
      width: 20em;
      height: 7em;
      text-align: center;
    }
    .foto {
      background-color: rgb(28, 33, 41);
      width: 10em;
      height: 10em;
      border-radius: 50em;
      text-align: center;
      align-items: center;
    }
  </style>
</Layout>
