---
import Layout from "../layout/layout.astro";
---

<Layout title="Squeaky JS | Perfil">
  <div id="perfil">
    <div class="profile">
      <h1 class="foto">foto de Perfil</h1>
      <h1 class="title" >Nombre de ususrio</h1>
      <input type="text" placeholder="Decripcion" class="desc">
    </div>
    <div class="tu">
      <div class="profile2">
        <h2 class= "font-sans font-bold text-3px text-white">Tus Datos</h2>
        <h1>Nombre y Apellido</h1>
        <input type="text">
        <h1>Correo Electronico</h1>
        <input type="text" id="gmail">
        <h1>Contraseña</h1>
        <input type="password">
        <h1>Fecha de  Naciimiento</h1>
        <input type="date" id="dateInput">
      </div>
      <div class="racha">
        <h1>Racha</h1>
      </div>
    </div>
  </div>
  <style>

    
    
    input::placeholder {
      color: #000;
    }
    .tu {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .racha {
      background-color: #23262F;
      color: rgb(163, 163, 163);
      text-align: center;
      width: 40em;
      height: 8.4em;
      align-text: center;
      text-align: center;
      font-family: urbanist;
    }

    #perfil {
      display: flex;
      gap: 1em;
      align-items: center;
      margin-left: -5em;
    }
    .profile2 {
      background-color: #23262F;
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 0.4em;
      width: 40em;
      /* height: 23em; */
      padding: 3em;
      color: black;
      margin-top: 3em;
      
      
    }
    .profile2 > input {
      border-radius: 0.5em;
      width: 25em;
      height: 2em;
      color: rgb(250, 246, 246);
      background-color: #4C4C4C;
      padding-left: 1em;
      border: 1px solid #A4A4A4 ;
      
    }
    .profile2 > h1 {
      color: white;
      font-size: 4em large>;
      
    }
    .profile {
      background-color: #23262F;
      width: 40em;
      height: 34em;
      text-align: center;
      margin-left: 10em;
      align-items: center;
      padding: 3em;
      margin-top: 3em;
      display: flex;
      gap: 2em;
      flex-direction: column;
      
    }
    .profile > h1 {
      color: white;
      font-size: small;
    }
  
    .desc {
      background-color: #23262F;
      width: 20em;
      height: 7em;
      text-align: center;
      color: white;
      border-radius: 1em;

    }
    .desc::placeholder {
      color: white;
      text-align: center;
      padding-top: 40px;
      resize: none;
    }
    .foto {
      background-color: rgb(28, 33, 41);
      width: 15em;
      height: 15em;
      border-radius: 50em;
      text-align: center;
      align-items: center;
      padding: 3em;
    }
    .nombre {
      background-color: #4C4C4C;
    }
    
  </style>
  <script>
    const dateInput = document.getElementById('dateInput');
    const nombre = document.getElementById("name");
    const usuario = localStorage.getItem("users");
    const apellido = document.getElementById("apellido");
    const gmail = document.getElementById("gmail");

    const name = localStorage.getItem("name")
    const email = localStorage.getItem("email");

  nombre.value = name;
/** 
    if(!nombre.value == undefined) {
        nombre.value = usuario.name;
    } else {
      nombre.placeholder = "Nombre";
    };  
*/
    gmail.value = email;
    dateInput.addEventListener('input', function(e) {
        let value = e.target.value;
        
        value = value.replace(/\D/g, '');  // Eliminar todo lo que no sea número
        if (value.length >= 2) {
            value = value.slice(0, 2) + '/' + value.slice(2);  // Insertar la primera barra
        }
        if (value.length >= 5) {
            value = value.slice(0, 5) + '/' + value.slice(5);  // Insertar la segunda barra
        }
        e.target.value = value;
    });
</script>

</Layout>
