---
import LectionsLayout from "../../layout/LectionsLayout.astro";
import EndOfLection from "../../sections/EndOfLection.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const lecciones = await getCollection("lecciones");
  return lecciones.map((l) => ({
    params: { slug: l.slug },
    props: { l },
  }));
}

const { l } = Astro.props;
const { Content } = await l.render();
---

<LectionsLayout title={l.data.title}>
  <div id="content">
    <h1 transition:name={`lectionTitle-${l.data.index}`}>{l.data.title}</h1>
    <Content />
    <EndOfLection />
  </div>
</LectionsLayout>

<style is:global>
  #content {
    h1,
    h2,
    h3,
    h4 {
      color: white;
      font-weight: bold;
      margin-block: 0.5em;
    }
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 28px;
    }
    h4 {
      font-size: 24px;
    }
    p {
      color: #b9b9b9;
      margin-block: 0.5em;
    }
    a {
      color: #ce84ff;
      text-decoration: underline;
    }
    ol {
      list-style-type: decimal;
      margin-left: 2em;
    }
    ol > li {
      list-style: decimal;
      font-size: 16px;
    }
    blockquote {
      background-color: #40224e;
      padding-inline: 1em;
      padding-block: 0.3em;
      border-radius: 5px;
      color: #b9b9b9;
    }
    blockquote > p {
      color: white !important;
    }

    .astro-code {
      padding-inline: 1em;
      padding-block: 0.3em;
      border-radius: 10px;
    }
  }
  #content > p > code {
    font-family: monospace;
    font-size: 14px;
    padding-inline: 5px;
    padding-block: 2px;
    border-radius: 3px;
    background-color: #3d3f4e;
    color: #e5e7eb;
  }
</style>
