<div class="-z-10 fondo absolute w-screen h-full left-0">
  <img src="/Inicio de sesión.jpg" class="-z-10 h-full w-full object-cover" />
</div>

<style>
  .fondo {
    background: radial-gradient(closest-side at 50% 50%, #4b4b4b, #1c1c1c);
  }
</style>
