1w---
const { isCorrect, text } = Astro.props;
---
  <button
    class="buttonOption max-w-[40em] px-6 py-2 font-semibold text-[#33353B] bg-[#D9D9D9] border-4 border-gray-800 duration-300 hover:scale-105"
    data-iscorrect={`${isCorrect}`}
  >
    {text}
  </button>

<style>
  @keyframes showCorrect {
    50% {
      background-color: #4b5563;
    }
    100% {
      background-color: #007900;
    }
  }

  .correct {
    background-color: #007900 !important;
  }
  .incorrect {
    background-color: #ff4d4d !important;
  }

  .parcialCorrect {
    animation: showCorrect 1s;
    animation-fill-mode: forwards;
  }
</style>
