---
import ExerciseCard from "./ExerciseCard.astro";

const { lesson, lessonUrl, exercices, classList } = Astro.props;
---

<div class={"min-w-[217px] relative " + classList}>
  <div class="absolute rounded-2xl box-content h-full min-w-[220px] w-full p-3 border-dashed border-white/50 border-4 translate-x-[-50%] translate-y-[-50%] left-1/2 top-1/2">

  </div>
  <ul class="flex gap-4 h-full overflow-x-auto overflow-y-hidden">
    {exercices.map((ex) => <ExerciseCard head={ex.data.head} id={ex.id} />)}
  </ul>
</div>
