---
import { Icon } from "astro-icon/components";

const { bloque } = Astro.props;
---

<li
  data-order={bloque.order}
  class="flex items-center gap-1 w-fit px-4 py-1 border-2 border-gray-600 rounded-lg text-lg font-semibold"
>
  <Icon name="drag" height={24} width={24} className="-ml-2" />
  <span>
    {bloque.code}
  </span>
</li>
