---

---

<div>
  <button class="boton">volver</button>
  <button class="boton2">siguiente</button>
</div>
  

<style>
  div{
    display: grid;
    gap: 0.5em;
  }
  .boton{
  background-color: #17181c;
  width: 100%;
  border-radius: 1em;
  height: 2em;
  align-items: center;
  }
  .boton2 {
  background-color: #17181c;
  width: 100%;
  border-radius: 1em;
  height: 2em;
  align-items: center;
  }
</style>
