---
import { Icon } from "astro-icon/components";
---

<nav
  class="col-span-6 flex justify-between gap-12 px-8 py-3 w-full bg-[#33353C] border-b-[5px] border-primary"
>
  <figure>
    <a href="http://localhost:4321" class="title">
      <img src="SQKY.png" alt="Logo de squeaky js" width="150px" />
    </a>
  </figure>
  <ul>
    <li>
      <a href="/login" class="in"> Inicio sesion </a>
    </li>
    <li>
      <a href="/register1" class="cr"> Crear Cuenta </a>
    </li>
  </ul>
</nav>
<style>
  a {
    color: black;
  }
  ul {
    width: 100%;
    display: flex;
    gap: 1.3em;
    align-items: center;
    justify-content: end;
  }
  .title {
    color: white;
    display: flex;
    margin-left: -2em;
  }
  .in {
    border: solid #ffb800 2px;
    color: white;
    padding: 0.2em 0.5em;
    font-family: "Lexend"
  }
  .cr {
    border: solid #D9D9D9 2px;
    background-color:  #FFB800;
    color: white;
    padding: 0.2em 0.5em;
    font-family: "Lexend"

  }
</style>
