---
import NavbarMenu from "./NavbarMenu.astro";
---

<nav class="col-span-6 flex justify-between gap-12 px-8 py-3 w-full bg-white">
  <figure>
    <a href="http://localhost:4321" class="text-black">
      Home
      <!-- <Icon name="squeaky" height={40} width={40} /> -->
    </a>
  </figure>
  <ul class="flex gap-4 items-center">
    <li>
      <a
        href="/lecciones"
        class="px-4 py-1 hover:text-yellow-600 duration-200 text-black"
      >
        Lecciones
      </a>
    </li>
    <li>
      <a
        href="/ejercicios"
        class="px-4 py-1 hover:text-yellow-600 duration-200 text-black"
      >
        Ejercicios
      </a>
    </li>
    <NavbarMenu />
  </ul>
</nav>
