---

---

<nav class="col-span-6 flex justify-between px-8 py-5 w-full bg-gray-300">
    <ul>
      <li>
        <a href="/login">
         Inicio secion
        </a>
      </li>
      <li>
        <a href="/register"
        class=""
         >
         Crear Cuenta
        </a>
      </li>
    </ul>
</nav>
<style>
    a {
        color: black;
    }
    ul{
        width: 100%;
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: end;
    }
</style>
