---
import NavbarMenu from "./NavbarMenu.astro";
import { Icon } from "astro-icon/components";
---

<nav class="col-span-6 flex justify-between gap-12 px-8 py-3 w-full bg-[#33353C] border-b-[5px] border-primary">
  <figure>
    <a href="http://localhost:4321" class="text-white">
      <img src="SQKY.png" alt="Logo de squeaky js" width="150px">
    </a>
  </figure>
  <ul class="flex gap-4 items-center">
    </li>
    <li>
      <a
        href="/profile"
        class="px-6 py-1 hover:text-yellow-600 duration-200 text-white"
      >
        Perfil
      </a>
    </li>
    <NavbarMenu />
  </ul>
</nav>
