---
import NavbarMenu from "./NavbarMenu.astro";
import { Icon } from "astro-icon/components";
---

<nav
  class="col-span-6 flex justify-between gap-12 px-8 py-3 w-full bg-[#33353C] border-b-[5px] border-primary"
>
  <figure>
    <a href="http://localhost:4321" class="title">
      <img
        src="http://localhost:4321/SQKY.png"
        alt="Logo de squeaky js"
        width="150px"
      />
    </a>
  </figure>
  <ul class="flex gap-4 items-center">
    <li>
      <a
        href="/profile"
        id="profileInfo"
        class="px-6 py-1 hover:text-yellow-600 duration-200 text-white"
      >
        Perfil
      </a>
    </li>
    <NavbarMenu />
  </ul>
</nav>

<style>
  .title {
    color: white;
    display: flex;
    margin-left: -2.9em;
    height: 2.1em;
  }
</style>

<script is:inline>
  function convertir(nombre) {
    var cadena = nombre.toLowerCase().split(" ");
    for (var i = 0; i < cadena.length; i++) {
      cadena[i] = cadena[i].charAt(0).toUpperCase() + cadena[i].substring(1);
    }
    nombre = cadena.join(" ");
    return nombre
  }

  function getUser() {
    let user = localStorage.getItem("user");
    user = JSON.parse(user);
    return user;
  }
  const user = getUser();
  document.getElementById("profileInfo").innerText = convertir(user.username);
    
</script>
