---
const { actualIndexOfEx, exercicesInThisLesson, indexOfLesson } = Astro.props;

const existsNextLesson = actualIndexOfEx < exercicesInThisLesson.length - 1;
const href = existsNextLesson
  ? `/ejercicios/${exercicesInThisLesson[actualIndexOfEx + 1].id}`
  : "/lecciones";

---

<button
  data-href={href}
  id="goNextExercice"
  class="hidden z-10 w-48 h-14 bg-[#5E5E11] rounded-tl-3xl text-xl absolute bottom-12 right-12 place-content-center hover:scale-105 duration-200 font-[lexend]"
>
  {existsNextLesson ? "Siguiente" : "Finalizar"}
</button>

<style>
  .active {
    display: grid !important;
  }
</style>

<script>

  const btn = document.getElementById("goNextExercice");
  btn?.addEventListener("click", () => {
    //TODO Backend: Guardar que esta leccion se termino.
    const url = btn.dataset.href;
    if (url) {
      location.href = url;
    }
    
  });
</script>
