---

---

<div class="w-4/5 h-16 relative mx-auto">
    <span class="h-16 w-16 rounded-full bg-[#2E2E2E] text-white border border-[#A4A4A4] z-10 text-2xl grid place-items-center"> 84 </span>
    <div class="h-10 w-4/5 bg-[#4C4C4C] border border-[#A4A4A4] rounded-full absolute top-1/2 left-10 z-[-1] -translate-y-1/2 px-6 flex items-center ">
        <div class="bg-[#23262F] h-4 w-full rounded-full -ml-2">
            <div id="line" class="h-full rounded-full"></div>
        </div>
    </div>
</div>

<style>
    #line{
        width: 84%;
        background: linear-gradient(90deg, #FFB800 0%, #FFDC82 20%, #FFB800 40%, #FFDC82 60%, #FFB800 80%, #FFDC82 100%);
    }
</style>