<article class="mx-24 pb-6 flex flex-col gap-6">
  <h2 class="text-4xl font-bold my-6">Ejercicios con un editor de codigo:</h2>
  <section
    class="bg-[#23262f] border-2 border-[#353841] rounded-xl mx-6 h-56 p-6 flex justify-between gap-6"
  >
    <div class="w-full">
      <h3 class="text-3xl">El primer condicional que vas a escribir.</h3>
      <p class="text-gray-400 mt-2 max-w-lg">
        Este sera el primer condicional que vas a escribir. Este ejercicio
        engloba el uso de variables, condicionales y funciones.
      </p>
    </div>
    <a
      href="/ejercicios/editor/1"
      class="text-2xl text-violet-100 font-bold w-full h-full bg-violet-800 rounded-xl grid place-items-center cursor-pointer"
    >
      Abrir ejercicio --&gt
    </a>
  </section>
  <section
    class="bg-[#23262f] border-2 border-[#353841] rounded-xl mx-6 h-56 p-6 flex justify-between gap-6"
  >
    <div class="w-full">
      <h3 class="text-3xl">La primera vez que modificaras el DOM!!</h3>
      <p class="text-gray-400 mt-2 max-w-lg">
        En este ejercio tendras que usar selectores para modifiFcar un sitio WEB.
      </p>
    </div>
    <a
      href="/ejercicios/editor/2"
      class="text-2xl text-violet-100 font-bold w-full h-full bg-violet-800 rounded-xl grid place-items-center cursor-pointer"
    >
      Abrir ejercicio --&gt
    </a>
  </section>
</article>
