---

---

{
  // TODO: Darle funcionalidad a estos botones.
}

<section class="border-t-2 border-[#353841] mt-6 py-4">
  <div class="flex justify-between px-6">
    <button class="w-56 h-16 bg-violet-800 rounded-xl text-xl">Volver</button>
    <button class="w-56 h-16 bg-violet-800 rounded-xl text-xl">Siguiente</button
    >
  </div>
</section>
