---
const { exercises } = Astro.props;
---

<section class="border-t-2 border-[#353841] mt-6 py-4">
  <div class="flex justify-center px-6">
    {
      exercises ? (
        <a
          id="goToExercises"
          href={`/ejercicios/${exercises[0].id}`}
          class="w-56 h-16 bg-violet-800 rounded-xl text-xl grid place-content-center"
        >
          Ir a ejercicios
        </a>
      ) : (
        <span class="w-56 h-16 bg-neutral-800 px-4 rounded-xl text-xl grid place-content-center text-center">
          Esta leccion aun no tiene ejercicios
        </span>
      )
    }
  </div>
</section>
