---
const { exercises } = Astro.props;
---

<button
data-url = {exercises[0].id}
  id="goToExercise"
  class="fixed bottom-6 right-8 w-36 h-14 bg-[#33353B]/80 p-2 rounded-lg text-xl font-bold duration-200"
>
  Continuar
</button>

<style>
  .active {
    background: #99a125 !important;
  }
</style>

<script>
  window.onscroll = function () {
    if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
      document.getElementById("goToExercise").classList.add("active");
      document.getElementById("goToExercise")?.addEventListener("click", () => {
        location.href = `/ejercicios/${document.getElementById("goToExercise").dataset.url}`
      })
    }
  };
</script>
