---
import ButtonOneOption from "../components/ButtonOneOption.astro";
const { body, head } = Astro.props;
---

<main class="px-12">
  <button
    id="goNextExercice"
    class="hidden w-56 h-16 bg-violet-800 rounded-xl text-xl absolute bottom-12 right-12"
  >
    Siguiente
  </button>
  <header class="flex gap-4 items-center">
    <figure
      class="w-32 aspect-square bg-gray-600 rounded-full grid place-items-center"
    >
      Logo
    </figure>
    <div class="flex flex-col gap-2">
      <a
        href={`/lecciones/${head.lectionSlug.toLowerCase()}`}
        class="hover:underline underline-offset-2">Volver a ver la leccion</a
      >
      <h1 class="text-5xl font-bold">{body.question}</h1>
    </div>
  </header>
  <div class="mt-12 w-full px-12">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        body.options.map((opt) => (
          <ButtonOneOption isCorrect={opt.correct} text={opt.text} />
        ))
      }
    </ul>
  </div>
</main>

<style>
  .active {
    display: block !important;
  }
</style>

<script>
  const activeGoNext = () => {
    document.getElementById("goNextExercice")?.classList.add("active");
  };

  const disabledButtons = () =>
    buttons.forEach((button) => (button.disabled = true));

  const showCorrectAnswer = () => {
    const btnCorrect = document.querySelector(`button[data-iscorrect="true"]`);

    btnCorrect?.classList.add("parcialCorrect");
    disabledButtons();
    activeGoNext();
  };

  const buttons = document.querySelectorAll(
    ".buttonOption"
  ) as NodeListOf<HTMLButtonElement>;

  buttons.forEach((button) => {
    button.addEventListener("click", (event) => {
      const btn = event.target as HTMLButtonElement;
      console.log(btn.dataset.iscorrect);
      const correct = btn.dataset.iscorrect == "true";
      if (correct) {
        btn.classList.add("correct");

        confetti({
          particleCount: 200,
          spread: 100,
          origin: { y: 0.6 },
        });
        activeGoNext();
        disabledButtons();
      } else {
        btn.classList.add("incorrect");
        showCorrectAnswer();
      }
    });
  });
</script>
