---
import NextExercise from "../components/NextExercise.astro";

const { body, head, exercicesInThisLesson, id } = Astro.props;
const actualIndexOfEx = exercicesInThisLesson.findIndex((ex) => ex.id === id);
---

<main class="px-12">
  <NextExercise
    actualIndexOfEx={actualIndexOfEx}
    exercicesInThisLesson={exercicesInThisLesson}
  />
  <a
    id="volverALeccion"
    href={`/lecciones/${head.lection.slug}`}
    class="hover:underline underline-offset-2">Volver a ver la leccion</a
  >
  <h1>
    {head.title}
  </h1>
</main>
