---
import { getCollection } from "astro:content";
import ExercicesOfSameLessonContainer from "../components/ExercicesOfSameLessonContainer.astro";
import FiltersForExercices from "./FiltersForExercices.astro";
let exercises = await getCollection("ejercicios");

//Agrupar los ejercicios segun la leccion a al que pertenecen
const exercisesByLesson = {};
for (const exercise of exercises) {
  const lessonSlug = exercise.data.head.lection.slug;
  if (!exercisesByLesson[lessonSlug]) {
    exercisesByLesson[lessonSlug] = [];
  }
  exercisesByLesson[lessonSlug].push(exercise);
}
const lessons = await getCollection("lecciones");

const filters = [
  {
    value: "Unica Opcion",
    color: "green-600",
  },
  {
    value: "Multiple Opcion",
    color: "red-600",
  },
  {
    value: "Arrastra",
    color: "blue-600",
  },
];
---
<FiltersForExercices filters={filters} />
<main class="max-w-6xl mx-auto grid grid-cols-5 mb-24 mt-6 gap-5">
  {
    Object.entries(exercisesByLesson).map(([lessonSlug, exercises]) => (
      <ExercicesOfSameLessonContainer
        lesson={lessons.find((l) => l.slug === lessonSlug).data.title}
        lessonUrl={lessonSlug}
        exercices={exercises}
        classList={`col-span-${exercises.length}`}
      />
    ))
  }
</main>

<style>
  main {
    grid-template-rows: repeat(5, 217px);
  }
</style>

<script>
  import ScrollReveal from "scrollreveal";

  var slideUp = {
    distance: "120%",
    origin: "bottom",
    opacity: 0.5,
    duration: 500,
    scale: 0.85,
  };
  ScrollReveal().reveal(".lection", slideUp);
</script>
