---
const { filters } = Astro.props;
---

<section class="w-full h-12 text-center px-12 mt-12">
  <ul class="flex items-center gap-4">
    {
      filters.map((filter) => (
        <li
          class={`filter text-sm px-2 py-0.5 rounded-full flex items-center gap-1 bg-blue-600/50`}
          data-option={filter}
        >
          <input class="hidden" type="checkbox" id={`filter-${filter}`} />
          <div class="h-3 aspect-square rounded-full border bg-black/30 " />
          <label for={`filter-${filter}`}>{filter}</label>
        </li>
      ))
    }
  </ul>
</section>
