---
import LectionCard from "../components/LectionCard.astro";
import { getCollection } from "astro:content";

let lecciones = await getCollection("lecciones");

lecciones = lecciones.sort((a, b) => a.data.index - b.data.index);
---

<main class="max-w-6xl mx-auto grid grid-cols-5 my-24 gap-4">

  {
    lecciones.map(({ data: leccion, slug }, index) => (

      <LectionCard
        index={index + 1} // Esta 0-indexed 
        classList={leccion.classList}
        difficult={leccion.difficult}
        name={leccion.title}
        url={slug}
      />
      
    ))
  }


</main>

<style>
  main {
    grid-template-rows: repeat(5, 217px);
  }
</style>

<script>
  import ScrollReveal from "scrollreveal";

  var slideUp = {

    distance: '120%',
    origin: 'bottom',
    opacity: 0.5,
    duration: 500,
    scale: 0.85 
};
  ScrollReveal().reveal(".lection", slideUp);
</script>
