---
import { Icon } from "astro-icon/components";
---

<form
  id="loginForm"
  class="z-10 w-[32em] bg-black/70 h-[90vh] rounded-t-2xl px-11 py-16"
>
  <div class="flex flex-col gap-7 mt-3">
    <h1 class="text-4xl text-white font-bold p-1 mt-1em pl-5">
      Iniciar sesion
    </h1>
    <div class="flex flex-col gap-5">
      <input
        type="text"
        id="username"
        placeholder="Nombre de usuario"
        class="text-2xl w-full h-16 rounded-lg border border-[#858585] px-4 bg-[#181818]/80 text-[#A6A6A6]"
      />
      <div class="password-container">
        <input
          type="password"
          id="password"
          placeholder="Contraseña"
          class="w-full h-16 rounded-lg border border-[#858585] px-4 bg-[#181818]/80 text-[#A6A6A6]"
        />
        <div id="togglePassword" class="eye-icon">
          <Icon name="eyeOff" height={24} width={24} />
        </div>
      </div>

      <input
        type="submit"
        value="Iniciar Sesion"
        class="text-2xl h-12 w-full bg-[#FFB800] text-black font-bold rounded-lg hover:cursor-pointer hover:scale-[102%] duration-100"
      />
    </div>
  </div>
  <div class="flex flex-col gap-0.5">
    <span class="block text-center text-gray-300 mt-10 text-xl">
      ¿Has olvidado tu contraseña?
    </span>
    <span class="block text-center text-gray-300 mt-6 text-xl"
      >No tienes cuenta de Squeaky? <a
        href="/register"
        class="hover:text-blue-600 duration-300">Crear cuenta</a
      ></span
    >
  </div>

  <style>
    .eye-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 18px;
    }
    .password-container {
      position: relative;
    }
    input[type="password"],
    input[type="text"] {
      width: 100%;
      padding: 10px;
      padding-right: 40px; /* Espacio para el icono del ojo */
      font-size: 1.5em;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  </style>

  <script>
    import { postData } from "../lib/socket.js";
    import Toastify from "toastify-js";

    const $loginForm = document.getElementById("loginForm") as HTMLFormElement;
    $loginForm.addEventListener("submit", (event) => {
      event.preventDefault();

      const $username = document.getElementById("username") as HTMLInputElement;

      const $password = document.getElementById("password") as HTMLInputElement;
      const data = {
        username: $username.value,
        password: $password.value,
      };

      postData("login", data, (user) => {
        console.log(user)
        Toastify({
          text: "Has iniciado sesion correctamente!",
          duration: 2000,
          stopOnFocus: true, // Prevents dismissing of toast on hover
        }).showToast();
      });
    });

    const passwordInput = document.getElementById("password") as HTMLInputElement;
    const togglePassword = document.getElementById("togglePassword") as HTMLDivElement; ;

    togglePassword.addEventListener("click", () => {
      if (passwordInput.value === "") {
        return;
      }
      const type =
        passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);

      togglePassword.innerHTML =
        type !== "password"
          ? '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>'
          : '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" /><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" /><path d="M3 3l18 18" /></svg>';
    });
  </script>
</form>
