---

---

<section class="w-full max-w-2xl bg-[#23262f] mx-auto p-4 h-full rounded-xl">
  <h3 class="text-5xl text-gray-300 font-bold text-center my-20">Iniciar Sesion</h3>
  <form action="" class="h-full flex flex-col gap-6 items-center">
    <input
      type="text"
      placeholder="Ingresa tu Email o Nombre de Usuario"
      class="w-80 h-10 bg-gray-600 px-2 rounded-lg"
    />
    <input
      type="password"
      placeholder="Ingresa tu contraseña"
      class="w-80 h-10 bg-gray-600 px-2 rounded-lg"
    />

    <footer>
      <input
        type="submit"
        class="w-48 h-10 bg-blue-900 rounded-xl cursor-pointer"
      />
    </footer>
  </form>
</section>
