<form
  action=""
  id="loginForm"
  class="z-10 w-[30em] bg-black/70 h-[75vh] rounded-t-2xl px-11 py-12"
>
  <h1 class="text-4xl text-white font-bold p-1">Iniciar sesion</h1>
  <div class="flex flex-col gap-4 mt-12">
    <input
      type="text"
      id="email"
      placeholder="Email"
      class="text-lg w-full h-14 rounded-lg border border-[#858585] px-4 bg-[#181818]/80 text-[#A6A6A6]"
    />
    <input
      type="text"
      id="password"
      placeholder="Contraseña"
      class="text-lg w-full h-14 rounded-lg border border-[#858585] px-4 bg-[#181818]/80 text-[#A6A6A6]"
    />
    <input
      type="submit"
      value="Continuar"
      class="text-lg h-12 mt-4 w-full bg-[#FFB800] text-black font-bold rounded-lg hover:cursor-pointer hover:scale-[102%] duration-100"
    />
  </div>
  <span class="block text-center text-gray-300 mt-6 text-xl"
    >No tienes cuenta de Squeaky? <a
      href="/register"
      class="hover:text-blue-600 duration-300">Crear cuenta</a
    ></span
  >
</form>
<script>
  import { loginUser } from "../lib/login.js";

  const $loginForm = document.getElementById("loginForm") as HTMLFormElement;
  $loginForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const $email = document.getElementById(
      "email"
    ) as HTMLInputElement;

    const $password = document.getElementById("password") as HTMLInputElement;
    loginUser($email.value, $password.value);
  });
</script>
