---
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import NavbarLoginAndRegister from "../components/NavbarLoginAndRegister.astro";
import KeyboardManager from "../components/KeyboardManager.astro";
import CheckUser from "../components/CheckUser.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-[#17181c]">
    <KeyboardManager title="Comandos de Teclado" />
    <div class="pb-[72px] h-screen">
      <!-- <ViewTransitions /> -->
      <!-- <NavbarLoginAndRegister /> -->
      <Navbar />
      <slot />
    </div>

    <style is:global>
       @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    </style>
  </body>
  <CheckUser />
</html>

<style is:global>
  html {
    color-scheme: dark;
  }
</style>
