---
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import NavbarLoginAndRegister from "../components/NavbarLoginAndRegister.astro";
import KeyboardManager from "../components/KeyboardManager.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-[#17181c]">
    <div class="pb-[72px] h-screen">
      <!-- <ViewTransitions /> -->
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    color-scheme: dark;
  }
</style>
