---
import { Icon } from "astro-icon/components";
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import LectionAside from "../sections/LectionAside.astro";
import KeyboardManager from "../components/KeyboardManager.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-[#17181c] ">
    <KeyboardManager title="Comandos de Teclado" site="leccion"/>
    <ViewTransitions />
    <div class="pb-12 grid grid-cols-6">
      <Navbar />
      <LectionAside />
      <main class="mt-12 w-full px-32 mx-auto col-span-5 h-fit">
        <a
          href="/lecciones"
          class="flex gap-1 items-center hover:underline underline-offset-2"
          ><Icon name="back" /> Volver a mis lecciones
        </a>
        <slot />
      </main>
    </div>
  </body>

  <style is:global>
    html {
      color-scheme: dark;
    }
  </style>
</html>
